<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" href="multimedia/coroate-color-transp.gif" type="image/gif" sizes="32x32"> 
	
    <!-- Google Font -->
	
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap" rel="stylesheet"> 
	<link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<!-- Icons Font Awesome CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="stylesheets/coro.css">
	
	 
	
    <title>Coro ATE</title>
</head>

<body>
	
	<div id="navbar">
		<div id="navlogo" style="justfify-self:start">
			<img src="multimedia/coroate-bw.png" width="90em" height="70em" >
		</div>
		<div id="myLinks" style="justfify-self:stretch">	
			<a href="#top">Inicio</a>
			<a href="#about">Nosotros</a>
			<a href="#news">Novedades</a>
			<a href="#material">Material</a>
			<a href="#contact">Contacto</a>
		</div>
		<!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
		<div id="hamb">
			<a href="javascript:void(0);" class="icon" onclick="dropmenu()">
				<i class="fa fa-bars"></i>
			</a>
		<div id="dropMenu">	
			<a href="#top" onclick="disappear()">Inicio</a>
			<a href="#about" onclick="disappear()">Nosotros</a>
			<a href="#news" onclick="disappear()">Novedades</a>
			<a href="#material" onclick="disappear()">Material</a>
			<a href="#contact" onclick="disappear()">Contacto</a>
		</div>
		</div>	
		
	</div>

	<div class="videowrapper">

			

		<video id="frontvid" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
			<source src="/multimedia/frontATE.mp4" type="video/webm">
		</video>
		<img src="multimedia/coroate-bw.png" />
	</div>
	
			
	
	<div id="lotePastoral">
		<h1>
			De la Pastoral juvenil de Santa Gema
		</h1>
		<div id="pastoral">
			<a href="https://www.facebook.com/juvenilpsgema" class="fa fa-facebook fasocial"></a>
			<img src="multimedia/pastoral-color-cut.png" width="300em" height="260em" />
			<a href="https://www.instagram.com/pj_santagema/" class="fa fa-instagram fasocial"></a>
		</div>
	</div>
	
	
	<div class="section1" id="about">
		<img src="https://www.lunapic.com/editor/premade/effect-bw.gif" width="400px" height="300px" />
		<div style="display: flex; flex-direction:column;">
			<h1>
				Somos el coro mas pulento de Chile!
			</h1>
			<img class="hrBar" src="multimedia/bars1.png">
			<p>
				Llevamos años de experiencia cantando canciones buenas, con buenos cabros, haciendo enojar al Padre Carlos, y tomandonos Santa Gema. Tenemos un bonito sistema donde nos robamos a las personas de otros coros que nos interesen, asi que si quieres unirte, no dudes en contactarte con nosotros! El cómo hacerlo es un misterio, dado que no tenemos un número como tal, y el email no lo revisamos tanto. Quizas podrían probar suerte con el Instagram
			</p>
		</div>	
	</div>
	<div class="section2" id="news">
		<div style="display: flex; flex-direction:column;">
			<h1>
				Nuestras últimas novedades
			</h1>
			<img class="hrBar" src="multimedia/bars2.png">
			<p>
				Entérate de nuestra más reciente creación. Nuestro contenido siempre será subido directamente al canal de YouTube, aun que si estás tan flojo como para no querer meterte, puedes ver directamente nuestro video más reciente aquí.
			</p>
			<p>
				Corren rumores de que quizás tengamos nuestro canal de Spotify, pero falta ene para eso. Cuando sea el momento, podrás enterarte aquí, y quien sabe, quizás pongamos un temazo desde Spotify justo abajito del temazo de YouTube que puedes ver a continuación.
			</p>
		</div>
		<div style="display: flex; flex-direction:column; justify-content:center; align-items:center;">
			<div class="youtubeWrapper">
				<iframe id="youtube_video" frameborder="0" width="560" height="400" style="padding: 1em 2em 1em 2em;" allowfullscreen></iframe>
			</div>
				

		</div>
	</div>
	<div class="section1" id="material">
		<div style="display: flex; flex-direction:column;">
			<h1 style="justify-self:center; align-self:center; padding-top:1em; padding-bottom:1em;">
				Material de trabajo
			</h1>
			<p>
				Por suerte para ustedes, nosotros no somos especialmente cagaos, asi que tenemos a disposición las partituras, acordes y letras de las canciones que más les agraden. Ponerlas aquí directo podría gastar mucho espacio, asi que pueden verlas a continuación en el menú desplegable. Si un día son demasiadas, capaz hagamos una página aparte solo para ellas. Hoy no, pero quizás algún día.
			</p>
			<h2 style="justify-self:center; align-self:center; padding-top:2em;" onclick="disappearSongchart()">
				Contenido <i class="fa fa-angle-down"></i>
			</h2>
			<hr/>
			<div id="songchart">
				<div>
					<h4>
						<ul class="songlist">
							<li>Con estas cenizas
								<div>
									<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
							</li>
							<li>Venga tu reino
								<div>
									<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
							</li>
							<li>Reyes del Oriente
								<div>
									<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
							</li>
							<li>Noche de paz
								<div>
									<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
							</li>
							<li>Padre Nuestro
								<div>
									<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
							</li>
							<li>Quedate con nosotros
								<div>
									<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
							</li>
						</ul>
					</h4>
				</div>
				<div>
					<h4>
						<ul class="songlist">
							<li>Soñar
								<div>
									<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
							</li>
							<li>María de la Alianza
								<div>
									<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
							</li>
							<li>Virgen del Carmen Bella
								<div>
									<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
							</li>
							<li>Padre Amerindio
								<div>
									<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
							</li>
							<li>Ven
								<div>
									<a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-eye"></i></a>
								</div>
							</li>
						</ul>
					</h4>
				</div>
			</div>
		</div>
	</div>
	
	<div class="section2" id="contact">
		<div style="display: flex; flex-direction:column;">
			<h1 style="justify-self:center; align-self:center; padding-top:1em; padding-bottom:1em;">
				Síguenos en nuestras redes!
			</h1>
			<p>
				Siempre se dice que un coro o un grupo de personas es tan grande y bonito como las personas que los siguen, y siendo así, no vamos a llegar muy lejos si todos nuestros seguidores son de cartón. Sígannos en todas nuestras redes, tapícennos en likes y comentarios, y quizás quizás las cosas vayan más pulentas para todos.
			</p>
			<div id="redescoro">
				<a href="https://www.instagram.com/coro.ate" class="fa fa-instagram fasocial"></a>
				<a href="https://www.youtube.com/c/CoroATEPastoralJuvenilSantaGema" class="fa fa-youtube-play fasocial"></a>
			</div>
		</div>
	</div>
	
	<div id="footer">
		<img src="multimedia/pastoral-bw.png" width="80px" height="60px" /> 
		Coro A tu encuentro, 2021
		<img src="multimedia/coroate-bw.png" width="80px" height="60px" />
	</div>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="scripts/general.js"></script> 
</body>
