<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" href="multimedia/logo_template.png" type="image/gif" sizes="32x32"> 
	
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=family=Yusei+Magic+Alternates:200,300,400,700" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet"> 

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<!-- Icons Font Awesome CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="stylesheets/coro.css">
	
	 
	
    <title>Coro ATE</title>
</head>

<body>
	
	<div id="navbar">
		<div id="navlogo" style="justfify-self:start">
			<img src="multimedia/logo_template.png" width="27em" height="30em" >
		</div>
		<div id="myLinks" style="justfify-self:stretch">	
			 <a href="#home">Inicio</a>
			 <a href="#news">Nosotros</a>
			 <a href="#contact">Novedades</a>
			<a href="#contact">Contacto</a>
		</div>
		<!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
		<div id="hamb">
			<a href="javascript:void(0);" class="icon" onclick="dropmenu()">
				<i class="fa fa-bars"></i>
			</a>
		<div id="dropMenu">	
			 	<a href="#home">Inicio</a>
			 	<a href="#news">Nosotros</a>
			 	<a href="#contact">Novedades</a>
				<a href="#contact">Contacto</a>
		</div>
		</div>	
		
	</div>
	
	
	<video id="frontvid" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/multimedia/frontATE.mp4" type="video/webm">
    </video>
	<h1>
		Wena compare!
	</h1>
	<h1>
		Wena compare!
	</h1>
	<h1>
		Wena compare!
	</h1>
	<h1>
		Wena compare!
	</h1>
	<h1>
		Wena compare!
	</h1>
	<h1>
		Wena compare!
	</h1>
	<h1>
		Wena compare!
	</h1>
	<h1>
		Wena compare!
	</h1>
	<h1>
		Wena compare!
	</h1>
	<h1>
		Wena compare!
	</h1>
	<h1>
		Wena compare!
	</h1>
	
	<script src="scripts/general.js"></script> 
</body>
