<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" href="multimedia/logo_template.png" type="image/gif" sizes="32x32"> 
	
    <!-- Google Font -->
	
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap" rel="stylesheet"> 
	<link rel="preconnect" href="https://fonts.gstatic.com">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<!-- Icons Font Awesome CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="stylesheets/coro.css">
	
	 
	
    <title>Coro ATE</title>
</head>

<body>
	
	<div id="navbar">
		<div id="navlogo" style="justfify-self:start">
			<img src="multimedia/logo_template.png" width="27em" height="30em" >
		</div>
		<div id="myLinks" style="justfify-self:stretch">	
			<a href="#top">Inicio</a>
			<a href="#about">Nosotros</a>
			<a href="#news">Novedades</a>
			<a href="#contact">Contacto</a>
		</div>
		<!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
		<div id="hamb">
			<a href="javascript:void(0);" class="icon" onclick="dropmenu()">
				<i class="fa fa-bars"></i>
			</a>
		<div id="dropMenu">	
			<a href="#top" onclick="disappear()">Inicio</a>
			<a href="#about" onclick="disappear()">Nosotros</a>
			<a href="#news" onclick="disappear()">Novedades</a>
			<a href="#contact" onclick="disappear()">Contacto</a>
		</div>
		</div>	
		
	</div>

	<div class="videowrapper">
		<video id="frontvid" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
			<source src="/multimedia/frontATE.mp4" type="video/webm">
		</video>
	</div>
	
	<div id="pastoral">
		<a href="#" class="fa fa-facebook fasocial"></a>
		<img src="https://www.lunapic.com/editor/premade/effect-bw.gif" width="90vh" height="90vh" >
		<a href="#" class="fa fa-instagram fasocial"></a>
	</div>
	
	
	<div class="section1" id="about">
		<img src="https://www.lunapic.com/editor/premade/effect-bw.gif" width="300px" height="300px" >
		<div style="display: flex; flex-direction:column;">
			<h1>
				Somos el coro mas pulento de Chile!
			</h1>
			<p>
				Llevamos años de experiencia cantando canciones buenas, con buenos cabros, haciendo enojar al Padre Carlos, y tomandonos Santa Gema. Tenemos un bonito sistema donde nos robamos a las personas de otros coros que nos interesen, asi que si quieres unirte, no dudes en contactarte con nosotros! El cómo hacerlo es un misterio, dado que no tenemos un número como tal, y el email no lo revisamos tanto. Quizas podrían probar suerte con el Instagram
			</p>
		</div>	
	</div>
	<div class="section2" id="news">
		<div style="display: flex; flex-direction:column;">
			<h1>
				Somos el coro mas pulento de Chile!
			</h1>
			<p>
				Llevamos años de experiencia cantando canciones buenas, con buenos cabros, haciendo enojar al Padre Carlos, y tomandonos Santa Gema. Tenemos un bonito sistema donde nos robamos a las personas de otros coros que nos interesen, asi que si quieres unirte, no dudes en contactarte con nosotros! El cómo hacerlo es un misterio, dado que no tenemos un número como tal, y el email no lo revisamos tanto. Quizas podrían probar suerte con el Instagram
			</p>
		</div>
		<img src="https://www.lunapic.com/editor/premade/effect-bw.gif" width="300px" height="300px" >
	</div>
	<div class="section1" id="contact">
		<h1>
			Siguenos en redes, culiao!
		</h1>
		<h2>
			Somos el coro mas pulento de Chile!
		</h2>
	</div>
	
	<script src="scripts/general.js"></script> 
</body>
